body{
margin:0px;
margin-top:0px;
font-size:100%;
font-family: 'Roboto', sans-serif;
}
a{
  text-decoration:none;
  color:inherit;
}
.navigation{
  position:fixed;
  width:100%;
  height:7.66%;
  z-index:100;
  background:white;
  opacity:0.8;
  top:0px;
}
.navigation ul{
    list-style:none;
    margin:0px;
    padding:0px;
  }
  .navigation-item{
  padding:0.79%;
  color:black;
  margin-right:1.5%;
  float:left;
  font-size:3.6vh;
}
.navigation-item1{
  padding:0.1%;
  color:#1565c0;
  margin-left:0.8%;
  margin-right:1.5%;
  padding-top:0.08%;
  float:left;
  font-size: 5vh ;
  font-weight:bold;
}
.refresh{
  padding:0.79%;
  color:black;
  margin-right:1.5%;
  float:left;
  font-size:3.6vh;
}
.refresh:hover{
  background:grey;
  transition: all 0.5s;
  cursor:pointer;
}
.navigation-item:hover{
background:grey;
transition: all 0.5s;
cursor:pointer;
}
.social_media{
  padding:0.6%;
  color:black;
  margin-right:2.8%;
  float:right;
}
.social_media:hover{
  background:grey;
  transition: all 0.5s;
  cursor:pointer;
}
#facebook{
  height:4.5vh;
}
#instagram{
  height:4.5vh;
}
#linkedin{
  height:4.5vh;
}
.no-scroll {
	overflow: hidden;
}
.navibutton{
  right:5vw;
  position:fixed;
  width:4vh;
  height:4vh;
  background-color:#0059b3;
  z-index:10;
}
.navibutton:hover{
  cursor:pointer;
}
.active_navibutton{
  margin:0.8vh;
  width:2.5vh;
  height:2.5vh;
  background-color:#b3c6ff;
}
#pg1_button{
  margin-top:40vh;
}
#pg2_button{
  margin-top:45vh;
}
#pg3_button{
  margin-top:50vh;
}
#pg4_button{
  margin-top:55vh;
}

/* First Page */
.spotify{
  position:absolute;
  z-index:100;
}
#first_page{
  overflow:hidden;
  height:100vh;
  background-color:gray;
}
#intro_pic{
  width:100%;
}
#intro_pic_div{
  width:100%;
}
#overlay{
  background-color:rgba(0, 0, 0, 0.2);
  position:absolute;
  height:100%;
  width:100%;
  z-index:2;
}
/* Real third Page */
.square_first{
  float:left;
  width:25%;
  height:50%;
  background-color:gray;
  margin-left:5.25%;
  margin-top:12%;
  overflow: hidden;
}
#raspberry_car_box{
  float:left;
  width:25%;
  height:40%;
  background-color:white;
  margin-left:5.25%;
  margin-top:12%;
  overflow: hidden;
  z-index:4;
  opacity:0.95;
  cursor:pointer;
}
#caliper_mount_box{
  float:left;
  width:25%;
  height:40%;
  background-color:white;
  margin-left:5.25%;
  margin-top:12%;
  overflow: hidden;
  z-index:4;
  opacity:0.95;
  cursor:pointer;
}
#calsol_website_box{
  float:left;
  width:25%;
  height:40%;
  background-color:white;
  margin-left:5.25%;
  margin-top:12%;
  overflow: hidden;
  z-index:4;
  opacity:0.95;
  cursor:pointer;
}
.coverall{
  background-color:rgba(0, 0, 0, 0.8);
  position:absolute;
  height:100%;
  width:100%;
  z-index:2;
}
#coverall_top_raspberry_car{
  position:absolute;
  z-index:3;
  width:45%;
  height:72%;
  background-color:#99c2ff;
  overflow: hidden;
}
#coverall_top_caliper_mount{
  position:absolute;
  z-index:3;
  width:45%;
  height:72%;
  background-color:#99c2ff;
  overflow: hidden;
}
#coverall_top_calsol_website{
  position:absolute;
  z-index:3;
  width:45%;
  height:72%;
  background-color:#99c2ff;
}
#raspberry_car{
  width:100%;
}
#caliper_mount{
  width:100%;
}
#calsol_website_picture{
  width:100%;
}
.box_text{
  text-align: center;
}
#button_calsol_website{
  background:white;
  opacity:0.8;
  margin:20%;
  text-align: center;
  padding:10%;
  cursor:pointer;
}




#second_page{
  overflow:hidden;
  height:100vh;
  background-color:#b3c6ff;
}
#slides{
  height:90vh;
}

.square{
  float:left;
  width:20%;
  height:36%;
  background-color:gray;
  margin-top:5%;
}
.square_first_next{
  float:left;
  width:20%;
  height:36%;
  background-color:blue;
  margin-left:10%;
  clear:both;
}
.square_next{
  float:left;
  width:20%;
  height:36%;
  background-color:gray;
}

.box_image{
  width:100%
}
.box_image:hover{
  cursor:pointer;
}

/*
.square_next:hover{
  background-color:white;
  transition:500ms;
  cursor:pointer;
}
.square:hover{
  background-color:white;
  transition:500ms;
  cursor:pointer;
}
.square_first_next:hover{
  background-color:white;
  transition:500ms;
  cursor:pointer;
}
.square_first:hover{
  background-color:white;
  transition:500ms;
  cursor:pointer;
}
*/
/* Third Page */
#third_page{
  overflow:hidden;
  height:100vh;
  background-color:#4d94ff;
}
.button{
  position:absolute;
  height:5%;
  width:10%;
  min-width:14vh;
  background-color:#e65c00;
  font-size:4vh;
  text-align:center;
  padding:1%;
}
.button:hover{
  cursor:pointer;
}

#title_top{
  margin-top: 6vh;
  margin-left:10vw ;
  height:25vh;
  width:80vw;
  background-color:#ffff00;
  display:inline-block;
  position: absolute;
  z-index:5;
}
#picture{
  position:absolute;
  background-color:  #005ce6;
  margin-top: 3vh;
  margin-left:25vw ;
  height:30vh;
  width:50vw;
	border-radius: 60%;
  z-index:6;
}
.about{
  text-align:center;
  font-size:6vw;
  font-weight: bold;
  vertical-align:middle;
  margin-top:9vh;
}
#summary{
  position:absolute;
  padding:1%;
  padding-right:3%;
  margin-left:10vw;
  margin-top:35vh;
  height:55vh;
  width:35vw;
  background-color:white;
  opacity:0.75;
  overflow: auto;
}
#summary-picture{
  position:absolute;
  margin-left:50vw;
  margin-top:35vh;
  display:inline-block;
  height:55vh;
  width:40vw;
  background-color:gray;
}
.summary_pic{
  height:55vh;
  width:40vw;
  position:relative;
}

/* Fourth Page */
#fourth_page{
  overflow:hidden;
  height:100vh;
  background-color:#b3c6ff;
}
#resume{
  width:80%;
  height:80%;
  margin-left:10%;
  margin-top:5%;
}
